[Desktop Entry]
Name=Firefox ESR
Name[ru]=Firefox ESR
Comment=Browse the World Wide Web
Comment[ru]=Обозреватель Всемирной Паутины
GenericName=Web Browser
GenericName[ru]=Интернет-браузер
X-GNOME-FullName=Firefox ESR Web Browser
X-GNOME-FullName[ru]=Интернет-браузер Firefox ESR
Exec=env MOZ_X11_EGL=1 /usr/lib/firefox-esr/firefox-esr %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-esr
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-esr
StartupNotify=true
