[Desktop Entry]
Name=Neovim
GenericName=Text Editor
Type=Application
Comment=Edit text files
Exec=alacritty -e nvim %u
X-Desktop-File-Install-Version=0.26
