export PATH="$HOME/.local/bin:$PATH"
~/.screenlayout/laptop.sh &
feh --bg-scale --randomize ~/.local/share/backgrounds/* &
pipewire &
pipewire-pulse &
#dbus-launch wireplumber &
wireplumber &
#sleep 1
