[user]
	email = netbeholder@gmail.com
	name = Sergey Salakhov
[credential]
	helper = manager
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[safe]
	directory = /machine-specific-configs
