#export PATH="$HOME/.local/bin:$HOME"
# SET env
dbus-update-activation-environment --all --verbose
export XDG_CURRENT_DESKTOP=dwm
export XDG_SESSION_DESKTOP="$XDG_CURRENT_DESKTOP"

#~/.screenlayout/laptop.sh &
#
##desktop portal has no it's own runit service...
#/usr/libexec/xdg-desktop-portal &
#
#feh --bg-scale --randomize ~/.local/share/backgrounds/* &
##pipewire &
#dbus-run-session pipewire &
##pipewire-pulse &
#dbus-run-session wireplumber &
##wireplumber &
#
#sxhkd &
